<ion-view ng-init="hideFooter()" class="assertive-bg">
    <ion-content delegate-handle="scroller" scrollbar-y="false" scroll-event-interval="200" on-scroll="checkScroll()" ng-class="{btm20 : displayFooter}">
        <div id="CONTENT_LOGIN" ng-if="resolve">
            <ion-slide-box delegate-handle="sliderBan" does-continue="true" auto-play="true" slide-interval="{{::interval}}" show-pager="false" pager-click="false" on-slide-changed="slideHasChanged(index)">
                <ion-slide ng-repeat="banniere in ::bannieres">
                    <div class="article banniere-1">
                        <a ng-href="#/app/spectacle/{{::banniere.spectacleid}}"><img ng-src="{{::banniere.img}}" /></a>
                    </div>
                </ion-slide>
            </ion-slide-box>
            <!--bandeau-->
            <div id="HEAD_LOGIN" class="article">
                <div id="HEAD_IMG"><img src="images/picto_actu.png" alt="" /></div>
                <div id="HEAD_TXT" class="txt-12px">Actualités</div>
                <div class="clear"></div>
            </div>
            <!--end bandeau-->
            <!--une actualité-->
            <div ng-if="actualites" class="article content_une_actu" ng-repeat="actu in ::actualites">
                <div class="date_une_actu txt-16px">
                    {{actu.date}}
                </div>
                <div class="titre_actualite txt-20px" ng-bind-html="::actu.titre"></div>
                <div class="content_actu txt-12px" ng-bind-html="::actu.texte"></div>
            </div>
            <!--end une actualité-->
            <div ng-if="!actualites" class="article content_login">
                <div class="indic_no_content txt-14px">
                    <div class="img_no_content"><img src="images/star.png" alt="" /></div>
                    <div class="txt_no_content txt-16px">
                        Vous n’avez aucune
                        <br>actualité
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
