<ion-view ng-init="hideFooter()" class="assertive-bg">
    <ion-content delegate-handle="scroller" scrollbar-y="false" scroll-event-interval="200" on-scroll="checkScroll()" ng-class="{btm20 : displayFooter}">
        <div id="CONTENT" class="bg-mauve" ng-if="resolve">
            <ion-slide-box delegate-handle="sliderBan" does-continue="true" auto-play="true" slide-interval="{{interval}}" show-pager="false" pager-click="false" on-slide-changed="slideHasChanged(index)">
                <ion-slide ng-repeat="banniere in ::bannieres">
                    <div class="article banniere-1">
                        <a ng-href="#/app/spectacle/{{::banniere.spectacleid}}"><img ng-src="{{::banniere.img}}" /></a>
                    </div>
                </ion-slide>
            </ion-slide-box>
            <ion-slide-box does-continue="false" show-pager="false" pager-click="false" ng-if="::agenda.calendar.months" delegate-handle="agendaBox">
                <ion-slide ng-repeat="mon in ::agenda.calendar.months">
                    <z ng-repeat="(id, month) in ::mon">
                        <div style="height:auto" class="kalendrier">
                            <div class="row head-kalendar">
                                <div class="col-10 text-left padding" ng-click="previousSlide()"><i class="icon ion-chevron-left"></i></div>
                                <div class="col-80 text-center light padding">{{::month.name}}</div>
                                <div class="col-10 text-right padding" ng-click="nextSlide()"><i class="icon ion-chevron-right"></i></div>
                            </div>
                            <div class="row month-kalendrier">
                                <div class="col">Lu</div>
                                <div class="col">Ma</div>
                                <div class="col">Me</div>
                                <div class="col">Je</div>
                                <div class="col">Ve</div>
                                <div class="col">Sa</div>
                                <div class="col">Di</div>
                            </div>
                            <div class="row content-Kalendrier" ng-repeat="i in ::myrange(month.days)">
                                <div class="col" ng-repeat="day in ::month.days.slice(i,i+7) track by $index">
                                    <a class="bouton bouton-smallZ" ng-class="{boutonactive:(day.date || false),boutonactiveCurrent:(current.fiche[0].id && day.date===current.date)}" ng-click="updateFiche(day)">{{::day.num}}</a>
                                </div>
                            </div>
                        </div>
                    </z>
                </ion-slide>
            </ion-slide-box>
            <!--article fiche calendrier-->
            <div ng-if="!current.fiche" class="msg_select_kalen">
                Merci de sélectionner une date.
            </div>
            <div ng-if="current.fiche" ng-repeat="fic in current.fiche" class="article fiche-calendrier">
                <div class="head-fiche-calendrier">
                    <div class="marg-left" ng-bind-html="fic.genre"></div>
                    <div class="marg-left" ng-bind-html="fic.accroche"></div>
                </div>
                <div class="img-fiche-calendrier"><img ng-src="{{fic.imglist[0]}}" /></div>
                <div class="content-fiche-calendrier txt-12px">
                    <div class="bts-sociaux">
                        <div class="bts-sociaux-ajout">
                            <a ng-click="addToSelection(fic.id)" class="picto-mail"><img ng-src="images/picto_select_in.png" /></a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <!--<div class="txt-fiche-calendrier marg-left" ng-bind-html="current.fiche.accroche"></div>-->
                    
                        <div class="date-spectacle marg-left"><strong>{{fic.rep[0].datestr}}</strong>
                            <br><span ng-bind-html="fic.rep[0].etatstr"></span></div>
                    
                    <div class="bt-reservation txt-14px">
                        <a ng-if="fic.rep[0].etat===1 && saisonouverte===1" ng-click="goInApp(fic.urlsirius)">Je réserve <span><img src="images/picto_ticket3.png" alt=""/></span></a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="bt-savoir-plus txt-14px">
                    <a ng-click="openFiche(fic.id, true)">En savoir<span><img src="images/picto_plus2.png" alt=""/></span></a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
