<ion-view ng-init="hideFooter()" class="assertive-bg">
    <ion-content delegate-handle="scroller" scrollbar-y="false" scroll-event-interval="200" on-scroll="checkScroll()" ng-class="{btm20 : displayFooter}">
        <div id="CONTENT_LOGIN" ng-if="resolve">
            <ion-slide-box delegate-handle="sliderBan" does-continue="true" auto-play="true" slide-interval="{{::interval}}" show-pager="false" pager-click="false" on-slide-changed="slideHasChanged(index)">
                <ion-slide ng-repeat="banniere in ::bannieres">
                    <div class="article banniere-1">
                        <a ng-href="#/app/spectacle/{{::banniere.spectacleid}}"><img ng-src="{{::banniere.img}}" /></a>
                    </div>
                </ion-slide>
            </ion-slide-box>
            <!--bandeau-->
            <div id="HEAD_LOGIN" class="article">
                <div id="HEAD_IMG"><img src="images/picto_tickets.png" alt="" /></div>
                <div id="HEAD_TXT" class="txt-12px">Mes billets virtuels</div>
                <div class="clear"></div>
            </div>
            <!--end bandeau-->
            <!--end bandeau-->
            <div class="article content_login">
                <div class="indic_login txt-16px">Connexion à votre compte
                    <br>de réservation</div>
                <div class="fieldset_content_login txt-14px" ng-bind-html="contenttxtbillet"></div>
                <div class="fieldset_content_login">
                    <a href="#/app/login" class="bt_continuer txt-16px">Continuer</a>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
