<ion-view ng-init="hideFooter()" class="assertive-bg">
    <ion-content delegate-handle="scroller" scrollbar-y="false" scroll-event-interval="200" on-scroll="checkScroll()" ng-class="{btm20 : displayFooter}">
        <div id="CONTENT" ng-if="resolve">
            <ion-slide-box delegate-handle="sliderBan" does-continue="true" auto-play="true" slide-interval="{{interval}}" show-pager="false" pager-click="false" on-slide-changed="slideHasChanged(index)">
                <ion-slide ng-repeat="banniere in bannieres">
                    <div class="article banniere-1">
                        <a ng-href="#/app/spectacle/{{banniere.spectacleid}}"><img ng-src="{{banniere.img}}" /></a>
                    </div>
                </ion-slide>
            </ion-slide-box>
            <div id="CONTENT_LOGIN">
                <!--bandeau-->
                <div id="HEAD_LOGIN" class="article">
                    <div id="HEAD_IMG"><img src="images/picto_tickets.png" alt="" /></div>
                    <div id="HEAD_TXT" class="txt-12px">Mes billets virtuels</div>
                    <div class="clear"></div>
                </div>
                <a class="item item-energized item-icon-left" style="padding:10px 10px 10px 48px" ng-click="updateLogin(false)">
    				<i class="icon ion-android-close"></i>Changer de compte de réservation
  				</a>
                <!--end bandeau-->
                <div ng-if="billets.length === 0" class="article content_login">
                    <div class="indic_no_content txt-14px">
                        <div class="img_no_content"><img src="images/masques.png" alt=""></div>
                        <div class="txt_no_content txt-16px">
                            Vous n'avez aucun billet 
                            <br>virtuel
                        </div>
                    </div>
                </div>
                <!--un miniticket-->
                <div class="article content_unticket" ng-repeat="billet in billets">
                    <div class="titre_unticket txt-20px" ng-bind-html="billet.titre"></div>
                    <div class="date_unticket txt-14px">
                        {{billet.date}}
                    </div>
                    <div class="places_unticket">
                        <div class="picto_sieges"><img src="images/picto_siege.png" alt="" /></div>
                        <div class="txt_sieges txt-14px">{{billet.places.length}} place(s) achetée(s)</div>
                        <div class="clear"></div>
                    </div>
                    
                    <div class="boutons_unticket txt-12px">
                        <div class="bt-savoir-plus">
                            <a ng-click="openFiche(billet.idspec, true)">En savoir <span><img src="images/picto_plus.png" alt=""/></span></a>
                        </div>
                        <div class="bt-reservation">
                            <a ng-href="#/app/billetsListe/{{$index}}">Voir mes billets<span><img src="images/picto_ticket.png" alt=""/></span></a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <!--end un miniticket-->
            </div>
        </div>
    </ion-content>
</ion-view>
