<ion-view ng-init="hideFooter()" class="assertive-bg">
    <ion-content delegate-handle="scroller" scrollbar-y="false" scroll-event-interval="200" on-scroll="checkScroll()" ng-class="{btm20 : displayFooter}">
        <div id="CONTENT">
            <ion-slide-box delegate-handle="sliderBan" does-continue="true" auto-play="true" slide-interval="{{interval}}" show-pager="false" pager-click="false" on-slide-changed="slideHasChanged(index)">
                <ion-slide ng-repeat="banniere in bannieres">
                    <div class="article banniere-1">
                        <a ng-href="#/app/spectacle/{{banniere.spectacleid}}"><img ng-src="{{banniere.img}}" /></a>
                    </div>
                </ion-slide>
            </ion-slide-box>
            <div id="CONTENT_LOGIN">
                <!--bandeau-->
                <div id="HEAD_LOGIN" class="article">
                    <div id="HEAD_IMG"><img src="images/picto_tickets.png" alt="" /></div>
                    <div id="HEAD_TXT2" class="txt-12px">Mes billets virtuels</div>
                    <div id="bt-retour2" ng-click="goback()" class="ion-arrow-return-left"> Retour</div>
                    <div class="clear"></div>
                </div>
                <a class="item item-energized item-icon-left" style="padding:10px 10px 10px 48px" ng-click="updateLogin(false)">
                    <i class="icon ion-android-close"></i>Changer de compte de réservation
                </a>
                <!--end bandeau-->
                <!--un miniticket-->
                <div class="article content_unticket_detail">
                    <div class="titre_unticket txt-20px" ng-bind-html="billet.titre"></div>
                    <div class="date_unticket txt-14px">
                        {{billet.date}}
                    </div>
                    <div class="detail_place txt-16px" ng-repeat="place in billet.places">
                        <div class="detail_place_rang">{{place.zone}} Rang {{place.rang}} Place {{place.place}}</div>
                        <div class="detail_place_voir">
                            <a ng-href="#/app/billetsDetail/{{$index}}">Voir ma place<span><img src="images/picto_qr.png" alt=""/></span></a>
                        </div>
                    </div>
                    <div class="boutons_unticket2 txt-12px">
                        <div class="bt-reservation">
                            <a href="#/app/billetsDetail/0">Voir toutes mes places<span><img src="images/picto_qr_loupe.png" alt=""/></span></a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <!--end un miniticket-->
            </div>
        </div>
    </ion-content>
</ion-view>
