<ion-view ng-init="hideFooter()" class="assertive-bg">
    <ion-content delegate-handle="scroller" scrollbar-y="false" scroll-event-interval="200" on-scroll="checkScroll()" ng-class="{btm20 : displayFooter}">
        <div id="CONTENT">
            <ion-slide-box delegate-handle="sliderBan" does-continue="true" auto-play="true" slide-interval="{{interval}}" show-pager="false" pager-click="false" on-slide-changed="slideHasChanged(index)">
                <ion-slide ng-repeat="banniere in bannieres">
                    <div class="article banniere-1">
                        <a ng-href="#/app/spectacle/{{banniere.spectacleid}}"><img ng-src="{{banniere.img}}" /></a>
                    </div>
                </ion-slide>
            </ion-slide-box>
            <div id="CONTENT_LOGIN">
                <!--bandeau-->
                <div id="HEAD_LOGIN" class="article">
                    <div id="HEAD_IMG"><img src="images/picto_tickets.png" alt="" /></div>
                    <div id="HEAD_TXT2" class="txt-12px">Mes billets virtuels</div>
                    <div id="bt-retour2" ng-click="goback()" class="ion-arrow-return-left"> Retour</div>
                    <div class="clear"></div>
                </div>
                <a class="item item-energized item-icon-left" style="padding:10px 10px 10px 48px" ng-click="updateLogin(false)">
                    <i class="icon ion-android-close"></i>Changer de compte de réservation
                </a>
                <!--end bandeau-->
                <ion-slide-box does-continue="false" show-pager="false" pager-click="false" ng-if="billet.places" delegate-handle="billetsBox">
                    <ion-slide ng-repeat="place in billet.places">
                        <div class="head-billet-qr article">
                            <div class="fl-left-billetqr">
                                <a ng-click="previousSlide()"><img src="images/fl_left_carrousel.png" alt="" /></a>
                            </div>
                            <div class="title-billetqr txt-12px">
                                <span class="titre_unticket txt-20px" ng-bind-html="billet.titre"></span>
                                <br>
                                <span class="date_unticket txt-14px">{{billet.date}}</span>
                            </div>
                            <div class="fl-right-billetqr">
                                <a ng-click="nextSlide()"><img src="images/fl_right_carrousel.png" alt="" /></a>
                            </div>
                        </div>
                        <div class="article qr_code_slide">
                            <div class="qr_code">
                                <div class="qr_code_content">
                                    <qrcode version="2" error-correction-level="M" size="160" data="{{place.code}}" download></qrcode>
                                </div>
                            </div>
                            <div class="qr_place">
                                <span class="txt-18px acces">Acces {{place.cote}}</span>
                                <br>
                                <span class="txt-20px acces-zone">{{place.zone}}</span>
                                <br>
                                <span class="acces-rang">Rang : </span><span class="txt-30px acces-rang-place">{{place.rang}}</span>
                                <br>
                                <span class="acces-rang">Place : </span><span class="txt-30px acces-rang-place">{{place.place}}</span>
                            </div>
                        </div>
                    </ion-slide>
                </ion-slide-box>
            </div>
        </div>
    </ion-content>
</ion-view>
