<ion-view ng-init="hideFooter()" hide-back-button="true" class="assertive-bg">
    <ion-content delegate-handle="scroller" scrollbar-y="false" scroll-event-interval="200" on-scroll="checkScroll()" ng-class="{btm20 : displayFooter}">
        <div id="CONTENT" ng-if="resolve">
            <ion-slide-box delegate-handle="sliderBan" does-continue="true" auto-play="true" slide-interval="{{interval}}" show-pager="false" pager-click="false" on-slide-changed="slideHasChanged(index)">
                <ion-slide ng-repeat="banniere in bannieres">
                    <div class="article banniere-1">
                        <a ng-href="#/app/spectacle/{{banniere.spectacleid}}"><img ng-src="{{banniere.img}}" /></a>
                    </div>
                </ion-slide>
            </ion-slide-box>
            <!--article CALENDRIER-->
            <div ng-if="mode !=='search' && mode !=='myselection'" class="article calendar txt-10px">
                <div class="calendar-position">
                    <div class="calendar-elt"><a ng-click="filterDate('2015-09-01')" ng-class="{active:date==='2015-09-01'}">Sep</a></div>
                    <div class="calendar-elt"><a ng-click="filterDate('2015-10-01')" ng-class="{active:date==='2015-10-01'}">Oct</a></div>
                    <div class="calendar-elt"><a ng-click="filterDate('2015-11-01')" ng-class="{active:date==='2015-11-01'}">Nov</a></div>
                    <div class="calendar-elt"><a ng-click="filterDate('2015-12-01')"ng-class="{active:date==='2015-12-01'}">Dec</a></div>
                    <div class="calendar-elt"><a ng-click="filterDate('2016-01-01')" ng-class="{active:date==='2016-01-01'}">Jan</a></div>
                    <div class="calendar-elt"><a ng-click="filterDate('2016-02-01')" ng-class="{active:date==='2016-02-01'}">Fev</a></div>
                    <div class="calendar-elt"><a ng-click="filterDate('2016-03-01')" ng-class="{active:date==='2016-03-01'}">Mar</a></div>
                    <div class="calendar-elt"><a ng-click="filterDate('2016-04-01')" ng-class="{active:date==='2016-04-01'}">Avr</a></div>
                    <div class="calendar-elt"><a ng-click="filterDate('2016-05-01')" ng-class="{active:date==='2016-05-01'}">Mai</a></div>
                    <div class="calendar-elt"><a ng-click="filterDate('2016-06-01')" ng-class="{active:date==='2016-06-01'}">Jun</a></div>
                </div>
            </div>
            <div ng-if="mode ==='search'" id="HEAD_LOGIN" class="article">
                <div id="HEAD_IMG"><img src="images/picto_selection.png" alt=""></div>
                <div id="HEAD_TXT" class="txt-12px">Résultat de recherche</div>
                <div class="clear"></div>
            </div>
            <div ng-if="mode ==='myselection'" id="HEAD_LOGIN" class="article">
                <div id="HEAD_IMG"><img src="images/picto_selection.png" alt=""></div>
                <div id="HEAD_TXT" class="txt-12px">Ma sélection</div>
                <div class="clear"></div>
            </div>
            <!--article SELECTION PAR GENRE / MON COMPTE-->
            <div ng-if="mode !=='search' && mode !=='myselection'" class="article select-genre-compte txt-12px">
                <div class="select-genre">
                    <a class="genre-selected">{{selinput.lib}}</a>
                    <select ng-init="selinput=selList[0]" ng-model="selinput" ng-change="filterSel(selinput)" ng-options="sel.lib for sel in selList">
                    </select>
                </div>
                <div class="select-compte">
                    <a class="genre-selected">{{geninput.lib}}</a>
                    <select ng-init="geninput=genreList[0]" ng-model="geninput" ng-change="filterGen(geninput)" ng-options="genre.lib for genre in genreList">
                    </select>
                </div>
                <!-- <div class="select-compte">
                    <a ng-click="login()" href="#">Mon compte <img src="images/picto_compte.png" alt=""/></a>
                </div> -->
                <div class="clear"></div>
            </div>
            <!--article TICKET-->
            <div ng-if="!WSData" class="article content_login">
                <div class="indic_no_content txt-14px">
                    <div class="img_no_content"><img src="images/masques.png" alt=""></div>
                    <div class="txt_no_content txt-16px" ng-if="mode ==='myselection'">
                        Votre sélection ne contient
                        <br>aucun spectacle
                    </div>
                    <div class="txt_no_content txt-16px" ng-if="mode !=='myselection'">
                        Votre recherche ne correspond
                        <br>aucun spectacle
                    </div>
                </div>
            </div>
            <div ng-if="WSData" class="article ticket-1" ng-repeat="spec in WSData">
                <div ng-if="spec.id!==0">
                    <div class="ticket-1-tb">
                        <!--ticket top-->
                        <div class="image-area-position">
                            <div class="image-area">
                                <img ng-click="openFiche(spec.id, true)" ng-src="{{spec.imglist[0]}}" alt="" />
                                <div class="picto-like-zone" ng-click="openIconLeg()">
                                    <img ng-if="spec.coeur!=='0'" src="images/picto_coeur.png"/>
                                    <img ng-if="spec.succesinter!=='0'" src="images/picto_redworld.png"/>
                                    <img ng-if="spec.succesparis!=='0'" src="images/picto_redtower.png"/>
                                    <img ng-if="spec.prime!=='0'" src="images/picto_redprix.png"/>
                                    <img ng-if="spec.toutpublic!=='0'" src="images/picto_redpeople2.png"/>
                                    <img ng-if="spec.deconseille!=='0'" src="images/picto_redpeople.png"/>
                                    <img ng-if="spec.matinee!=='0'" src="images/picto_redschool.png"/>
                                    <img ng-if="spec.bambino!=='0'" src="images/picto_redone.png"/>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="txt-area">
                            <div class="picto-sociaux-area">
                                <a ng-if="addItem" ng-click="addToSelection(spec.id)" class="picto-mail"><img ng-src="images/picto_select_in.png" alt="" /></a>
                                <a ng-if="!addItem" ng-click="removeFromSelection(spec.id, $index)" class="picto-mail"><img ng-src="images/picto_select_out.png" alt="" /></a>
                                <div class="clear"></div>
                            </div>
                            <div class="txt-ticket">
                                <div class="genre-spectacle" ng-bind-html="spec.genre"></div>
                                <br>
                                <div ng-bind-html="spec.accroche"></div>
                                <br>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="txt-area-2 txt-14px">
                        <!--ticket dates-->
                        <div class="date-spectacle" ng-repeat="rep in spec.lstrep">
                            <strong>{{rep.datestr}}</strong>
                            <br>
                            <span ng-bind-html="rep.etatstr"></span>
                        </div>
                        <!--<div class="date-spectacle"><strong>Lundi 06 avril 2015 - 15:00</strong>
                        <br>Location ouverte</div>-->
                    </div>
                    <div class="bt-area txt-12px">
                        <!--BT SAVOIR + / JE RESERVE-->
                        <div class="bt-savoir-plus">
                            <a ng-click="openFiche(spec.id, true)">En savoir <span><img src="images/picto_plus.png" alt=""/></span></a>
                        </div>
                        <div class="bt-reservation">
                            <a ng-if="spec.etat===1 && saisonouverte===1" ng-click="goInApp(spec.urlsirius)">Je réserve <span><img src="images/picto_ticket.png" alt=""/></span></a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="month_separator" ng-if="spec.id===0">{{spec.titre}}</div>
            </div>
        </div>
        <ion-infinite-scroll ng-if="moreDataCanBeLoaded" on-infinite="loadMoreData()" distance="2%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>

