<ion-view ng-init="hideFooter()" class="assertive-bg">
    <ion-content delegate-handle="scroller" scrollbar-y="false" scroll-event-interval="200" on-scroll="checkScroll()" ng-class="{btm20 : displayFooter}">
        <div id="CONTENT_LOGIN">
            <ion-slide-box delegate-handle="sliderBan" does-continue="true" auto-play="true" slide-interval="{{interval}}" show-pager="false" pager-click="false" on-slide-changed="slideHasChanged(index)">
                <ion-slide ng-repeat="banniere in bannieres">
                    <div class="article banniere-1">
                        <a ng-href="#/app/spectacle/{{banniere.spectacleid}}"><img ng-src="{{banniere.img}}" /></a>
                    </div>
                </ion-slide>
            </ion-slide-box>
            <!--bandeau-->
            <div id="HEAD_LOGIN" class="article">
                <div id="HEAD_IMG"><img src="images/picto_login.png" alt="" /></div>
                <div id="HEAD_TXT" class="txt-12px">Connexion</div>
                <div class="clear"></div>
            </div>
            <!--end bandeau-->
            <form ng-submit="doLogin()">
                <div class="article content_login">
                    <div class="indic_login txt-16px">Connexion à votre compte
                        <br>de réservation</div>
                    <div class="fieldset_content_login txt-16px">
                        <label>Email</label>
                        <br>
                        <input type="text" ng-model="loginData.username">
                    </div>
                    <div class="fieldset_content_login txt-16px">
                        <label>Mot de passe</label>
                        <br>
                        <input type="password" ng-model="loginData.password">
                    </div>
                    <div class="fieldset_content_login">
                        <input type="submit" class="login txt-16px" value="Valider">
                        <div class="clear"></div>
                    </div>
                    <div class="fieldset_content_login txt-16px">
                        <a href="#/app/loginLost">Mot de passe oublié ? </a>
                        <a href="#/app/loginCmd">Je ne connais pas mon mot de passe</a>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
