<ion-view ng-init="hideFooter()" class="assertive-bg">
    <ion-content>
        <div id="CONTENT_LOGIN">
            <ion-slide-box delegate-handle="sliderBan" does-continue="true" auto-play="true" slide-interval="{{interval}}" show-pager="false" pager-click="false" on-slide-changed="slideHasChanged(index)">
                <ion-slide ng-repeat="banniere in bannieres">
                    <div class="article banniere-1">
                        <a ng-href="#/app/spectacle/{{banniere.spectacleid}}"><img ng-src="{{banniere.img}}" /></a>
                    </div>
                </ion-slide>
            </ion-slide-box>
            <!--bandeau-->
            <div id="HEAD_LOGIN" class="article">
                <div id="HEAD_IMG"><img src="images/picto_login.png" alt="" /></div>
                <div id="HEAD_TXT2" class="txt-12px">Connexion</div>
                <div id="bt-retour2" ui-sref="app.login" class="ion-arrow-return-left"> Retour</div>
                <div class="clear"></div>
            </div>
            <!--end bandeau-->
            <form ng-submit="doLogin()">
                <div class="article content_login">
                    <div class="indic_login txt-16px">Connexion à votre compte
                        <br>de réservation</div>
                    <div class="fieldset_content_login txt-16px">
                        <label>Email</label>
                        <br>
                        <input type="text" ng-model="loginData.username">
                    </div>
                    <div class="fieldset_content_login txt-16px">
                        <label>Numéro de commande</label>
                        <br>
                        <input type="text" ng-model="loginData.cmd">
                    </div>
                    <div class="fieldset_content_login">
                        <input type="submit" class="login txt-16px" value="Valider">
                        <div class="clear"></div>
                    </div>
                    <div style="padding-top:10px" class="fieldset_content_login txt-16px" ng-bind-html="contenttxtbilletlogin">
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
