<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-energized" align-title="center" delegate-handle="mynavbar">
            <ion-nav-title>
                <img src="images/logo_pingalant.png" style="height:30px;margin-top:7px">
            </ion-nav-title>
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="closeSearch()">
                </button>
                <!--<span class="badge-assertive header-badge">2</span>-->
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <a class="button button-icon icon ion-android-search" ng-click="toogleSearch()"></a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <!--NEW SEARCH ZONE-->
        <div class="search-zone" ng-if="resolve" ng-show="showSearch">
            <div class="tb_left">
                <label class="item-input-wrapper">
                        <form ng-submit="goToResult(txtSearch)">
                            <input type="search" placeholder="Rechercher" ng-model="txtSearch">
                        </form>
                </label>
            </div>
            <div class="tb_right">
                <a class="button button-icon icon ion-android-close" ng-click="toogleSearch()"></a>
            </div>
        </div>
        <!--END NEW SEARCH ZONE-->
        <ion-nav-view name="menuContent"></ion-nav-view>
        <div ng-if="resolve" class="bar bar-footer bar-balanced" style="height:20px" ng-show="displayFooter" ng-click="scrollTop()">
            <div class="title" style="line-height:20px"><i class="icon ion-chevron-up"></i></div>
        </div>
    </ion-side-menu-content>
    <ion-side-menu side="left" ng-click="updateMenu()">
        <ion-header-bar class="bar-royal">
            <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content class="royal-bg">
            <ion-list>
                <ion-item class="item-balanced" nav-clear menu-close href="#/app/liste/">
                    Accueil
                </ion-item>
                <ion-item class="item-balanced" nav-clear menu-close href="#/app/agenda">
                    Calendrier
                </ion-item>
                <ion-item class="item-balanced" nav-clear menu-close href="#/app/resa">
                    Réservation immédiate
                </ion-item>
                <ion-item class="item-balanced" nav-clear menu-close href="#/app/actu">
                    Actualités
                </ion-item>
                <div class="item item-energized item-divider item-icon-right">
                    Mon espace
                    <i class="icon ion-android-person"></i>
                </div>
                <ion-item class="item-balanced" nav-clear menu-close href="#/app/liste/myselection">
                    <span class="pl15">Ma sélection</span>
                </ion-item>
                <ion-item ng-if="isLogin && (billetvirtuel===1 || !hasNetwork)" class="item-balanced" nav-clear menu-close href="#/app/billets">
                    <span class="pl15">Mes billets virtuels</span>
                </ion-item>
                <ion-item ng-if="!isLogin && billetvirtuel===1" class="item-balanced" nav-clear menu-close href="#/app/beforeLogin">
                    <span class="pl15">Mes billets virtuels</span>
                </ion-item>
                <ion-item ng-repeat="menu in menuList" class="item-balanced" nav-clear menu-close href="#/app/remotePage/{{menu.id}}">
                    <span ng-bind-html="menu.lib"></span>
                </ion-item>
                <ion-item class="item-balanced" nav-clear menu-close href="#/app/param">
                    <span>Paramètres</span>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
