<ion-view ng-init="hideFooter()" class="assertive-bg">
    <ion-content>
        <div id="CONTENT_LOGIN">
            <ion-slide-box delegate-handle="sliderBan" does-continue="true" auto-play="true" slide-interval="{{interval}}" show-pager="false" pager-click="false" on-slide-changed="slideHasChanged(index)">
                <ion-slide ng-repeat="banniere in bannieres">
                    <div class="article banniere-1">
                        <a ng-href="#/app/spectacle/{{banniere.spectacleid}}"><img ng-src="{{banniere.img}}" /></a>
                    </div>
                </ion-slide>
            </ion-slide-box>
            <!--bandeau-->
            <div id="HEAD_LOGIN" class="article">
                <div id="HEAD_IMG">
                    <!--<img src="images/picto_login.png" alt="" />--><i class=" txt-26px icon light ion-ios-gear-outline"></i></div>
                <div id="HEAD_TXT" class="txt-12px">Paramètres</div>
                <div class="clear"></div>
            </div>
            <!--end bandeau-->
            <ion-toggle ng-model="saveInCal.checked" toggle-class="toggle-balanced" ng-click="onToogle(saveInCal.checked)">Enregistrer mes réservations <br>dans mon calendrier</ion-toggle>
        </div>
    </ion-content>
</ion-view>
