<ion-view ng-init="hideFooter()" class="assertive-bg">
    <ion-content delegate-handle="scroller" scrollbar-y="false" scroll-event-interval="200" on-scroll="checkScroll()" ng-class="{btm20 : displayFooter}">
        <div id="CONTENT_LOGIN" ng-if="resolve">
            <ion-slide-box delegate-handle="sliderBan" does-continue="true" auto-play="true" slide-interval="{{::interval}}" show-pager="false" pager-click="false" on-slide-changed="slideHasChanged(index)">
                <ion-slide ng-repeat="banniere in ::bannieres">
                    <div class="article banniere-1">
                        <a ng-href="#/app/spectacle/{{::banniere.spectacleid}}"><img ng-src="{{::banniere.img}}" /></a>
                    </div>
                </ion-slide>
            </ion-slide-box>
            <!--bandeau-->
            <div id="HEAD_LOGIN" class="article">
                <div id="HEAD_IMG"><img src="images/picto_tickets.png" alt="" /></div>
                <div id="HEAD_TXT" class="txt-12px">Réservation immédiate</div>
                <div class="clear"></div>
            </div>
            <!--end bandeau-->
            <div ng-if="saisonouverte===1" class="article content_login">
                <div class="fieldset_content_login txt-16px">
                    <select ng-init="selinput = specList[0]" ng-model="selinput" ng-options="spec.titre for spec in specList"></select>
                </div>
                <div class="fieldset_content_login2">
                    <input type="submit" class="reserver txt-16px" value="Réserver" ng-click="goInApp(selinput.urlsirius)">
                    <div class="clear"></div>
                </div>
            </div>
            <div ng-if="saisonouverte!==1" class="article">
                <div class="indic_no_content_info txt-14px">
                    <div class="txt_no_content txt-14px">
                        Vous pourrez accéder à cette fonctionnalité à
                        partir du 20 juin.
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
