<ion-view ng-init="hideFooter()" class="assertive-bg">
    <ion-content delegate-handle="scroller" scrollbar-y="false" scroll-event-interval="200" on-scroll="checkScroll()">
        <ion-slide-box delegate-handle="sliderBan" does-continue="true" auto-play="true" slide-interval="{{interval}}" show-pager="false" pager-click="false" on-slide-changed="slideHasChanged(index)">
            <ion-slide ng-repeat="banniere in bannieres">
                <div class="article banniere-1">
                    <a ng-href="#/app/spectacle/{{banniere.spectacleid}}"><img ng-src="{{banniere.img}}" /></a>
                </div>
            </ion-slide>
        </ion-slide-box>
        <div id="HEAD_LOGIN" class="article">
                <div id="HEAD_IMG"><img src="images/picto_horaire.png"></div>
                <div id="HEAD_TXT" class="txt-12px" ng-bind-html="titre"></div>
                <div class="clear"></div>
            </div>
        <div ng-bind-html="htmlCode" class="txt-page"></div>
    </ion-content>
</ion-view>
