<ion-view ng-init="hideFooter()" hide-back-button="true" class="assertive-bg">
    <ion-content delegate-handle="scroller" scrollbar-y="false" scroll-event-interval="200" on-scroll="checkScroll()" ng-class="{btm20 : displayFooter}">
        <div id="CONTENT">
            <ion-slide-box delegate-handle="sliderBan" does-continue="true" auto-play="true" slide-interval="{{interval}}" show-pager="false" pager-click="false" on-slide-changed="slideHasChanged(index)">
                <ion-slide ng-repeat="banniere in bannieres">
                    <div class="article banniere-1">
                        <a ng-href="#/app/spectacle/{{banniere.spectacleid}}"><img ng-src="{{banniere.img}}" /></a>
                    </div>
                </ion-slide>
            </ion-slide-box>
            <div id="CONTENT-FICHE">
                <!--article-head-->
                <div class="top-fiche">
                    <div class="img-fiche">
                        <div class="img-slide-box">
                            <ion-slide-box delegate-handle="sliderFiche" does-continue="true" show-pager="true" pager-click="false">
                                <ion-slide ng-repeat="pic in WSFiche.smallimglist.slice(0,10)">
                                    <div>
                                        <img ng-src="{{pic}}" />
                                    </div>
                                </ion-slide>
                            </ion-slide-box>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <!--article-texte-->
                <div class="article content-txt-fiche picos-deco">
                    <div class="pictos-fiche">
                        <div class="pictos-apercu">
                            <a class="picto-photo"><img src="images/picto_photo_on.png" alt="" /></a>
                            <a ng-if="displayVideo" ng-click="videoModal.show()" class="picto-video"><img src="images/picto_video.png" /></a>
                        </div>
                    </div>
                    <div class="picto-like-zone">
                        <div ng-click="openIconLeg()">
                            <div class="picto-one"><img ng-if="WSFiche.coeur!=='0'" src="images/picto_coeur.png" /></div>
                            <div class="picto-one"><img ng-if="WSFiche.succesinter!=='0'" src="images/picto_redworld.png" /></div>
                            <div class="picto-one"><img ng-if="WSFiche.succesparis!=='0'" src="images/picto_redtower.png" /></div>
                            <div class="picto-one"><img ng-if="WSFiche.prime!=='0'" src="images/picto_redprix.png" /></div>
                            <div class="picto-one"><img ng-if="WSFiche.toutpublic!=='0'" src="images/picto_redpeople2.png" /></div>
                            <div class="picto-one"><img ng-if="WSFiche.deconseille!=='0'" src="images/picto_redpeople.png" /></div>
                            <div class="picto-one"><img ng-if="WSFiche.matinee!=='0'" src="images/picto_redschool.png" /></div>
                            <div class="picto-one"><img ng-if="WSFiche.bambino!=='0'" src="images/picto_redone.png" /></div>
                        </div>
                        <div class="fiche-picto-sociaux">
                            <a ng-click="addToSelection(idf)" class="picto-mail"><img src="images/picto_select_in.png" alt="" /></a>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="txt-fiche txt-12px" ng-bind-html="WSFiche.presentation">
                    </div>
                </div>
                <!--article dates/tarifs-->
                <div class="article fiche-infos">
                    <div class="marg-left marg-right">
                        <p class="txt-16px" ng-bind-html="WSFiche.tarifs">
                        </p>
                    </div>
                    <div class="marg-left marg-right fiche-infos-date-reservation txt-12px" ng-repeat="rep in WSFiche.lstrep">
                        <div class="fiche-infos-date">
                            {{rep.datestr}}
                            <br>
                            <span ng-bind-html="rep.etatstr"></span>
                        </div>
                        <div class="bt-reservation">
                            <a ng-if="rep.etat===1 && saisonouverte===1" ng-click="goInApp(rep.urlsirius)">Je réserve <span><img src="images/picto_ticket2.png" alt=""/></span></a>
                        </div>
                    </div>
                </div>
                <!--article Nous vous conseillons-->
                <div class="article fiche-conseil" ng-if="WSFiche.listrecom.length > 0">
                    <div class="head-fiche-conseil txt-12px">
                        <div class="img-fiche-conseil marg-left"><img src="images/picto_conseil.png" alt="" /></div>
                        Nous vous conseillons :
                    </div>
                    <div class="clear"></div>
                    <div class="content-fiche-conseil">
                        <div class="carrousel">
                            <div class="carrousel-fl-left" ng-click="previousSlide()">
                            </div>
                            <div class="carrousel-center">
                                <ion-slide-box delegate-handle="sliderRecom" does-continue="true" show-pager="false" pager-click="false" active-slide="0">
                                    <ion-slide ng-repeat="recom in WSFiche.listrecom">
                                        <div style="text-align:center">
                                            <img style="max-height:200px;" ng-src="{{recom.img}}" />
                                        </div>
                                        <div class="carrousel-txt txt-12px" ng-bind-html="recom.accroche">
                                        </div>
                                        <div class="carrousel-bt-savoir txt-12px">
                                            <a ng-click="openFiche(recom.id, true)">En savoir <span><img src="images/picto_plus.png" alt=""/></span></a>
                                        </div>
                                    </ion-slide>
                                </ion-slide-box>
                            </div>
                            <div class="carrousel-fl-right" ng-click="nextSlide()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </ion-content>
</ion-view>
