<div id="CONTENT">
    <div class="bar bar-header bar-energized">
        <h1 class="title"><img src="images/logo_pingalant.png" style="height:30px;margin-top:7px"></h1>
        <div class="buttons">
            <a class="button button-icon icon ion-android-close" ng-href="#/app/liste/"></a>
        </div>
    </div>
    <ion-content class="has-header">
        <div ng-bind-html="contentsplash" ng-if="resolve"></div>           
    </ion-content>
</div>
