<ion-view ng-init="hideFooter()" class="assertive-bg">
    <ion-content>
        <div id="CONTENT_LOGIN">
            <!--bandeau-->
            <div id="HEAD_LOGIN" class="article">
                <div id="HEAD_TXT_INFO" class="txt-12px">Information</div>
            </div>
            <!--end bandeau-->
            <div class="article">
                <div class="indic_no_content_info txt-14px">
                    <div class="txt_no_content txt-14px">
                        La page demandée ne peut être affichée car
                        <br>vous n'êtes pas connecté à internet
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

