<ion-modal-view class="assertive-bg">
    <ion-header-bar class="bar-royal">
        <h1 class="title">Lecteur</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-android-close" ng-click="closeVideoModal()"></button>
        </div>
    </ion-header-bar>
    <ion-content scrollbar-y="false">
        <div class="video-container" ng-if="WSFiche.listvideo[0].type==='YOU'">
            <iframe ng-src="{{trustSrc(WSFiche.listvideo[0].url)}}" frameborder="0" width="560" height="315"></iframe>
        </div>
        <div class="video-container" ng-if="WSFiche.listvideo[0].type==='VIM'">
            <iframe ng-src="{{trustSrc(WSFiche.listvideo[0].urlVim)}}" width="500" height="331" frameborder="0" allowfullscreen></iframe>
        </div>
    </ion-content>
</ion-modal-view>
