

@font-face {
  font-family: 'Opensans';
  font-style: normal;
  font-weight: 400;
  src : url('OpenSans-Regular.woff') format('woff'),
          url('OpenSans-Regular.svg#abcd') format('svg'),
          url('OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'OpensansLight';
  font-style: normal;
  src: local('Opensans Light'), local('Opensans-Light'), url(../font/OpenSans-Light.ttf) format('ttf');
}
@font-face {
  font-family: 'OpensansBold';
  font-style: bold;
  src: local('OpenSans-Bold'), local('OpenSans-Bold'), url(../font/OpenSans-Bold.ttf) format('ttf');
}
@font-face {
  font-family: 'OpensansExtraBold';
  font-style: bold;
  src: local('OpenSans-ExtraBold'), local('OpenSans-ExtraBold'), url(../font/OpenSans-ExtraBold.ttf) format('ttf');
}