/*-------------------------------------------Code Alsa----------------------------------------*/

@media (max-width: 640px) and (orientation: portrait) {
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    /* passer body (et tous les éléments de largeur fixe) en largeur automatique */
    
    body {
        width: auto;
        margin: 0;
        padding: 0;
    }
    /* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */
    
    img,
    table,
    td,
    blockquote,
    code,
    pre,
    textarea,
    input,
    iframe,
    object,
    embed,
    video {
        max-width: 100%;
    }
    /* conserver le ratio des images */
    
    img {
        height: auto;
    }
    /* gestion des mots longs */
    
    textarea,
    table,
    td,
    th,
    code,
    pre,
    samp {
        -webkit-hyphens: auto;
        /* césure propre */
        
        -moz-hyphens: auto;
        hyphens: auto;
        word-wrap: break-word;
        /* passage à la ligne forcé */
    }
    code,
    pre,
    samp {
        white-space: pre-wrap;
        /* passage à la ligne spécifique pour les éléments à châsse fixe */
    }
    /* masquer les éléments superflus */
    
    .hide_mobile {
        display: none !important;
    }
    /*config footer js*/
    
    #topcontrol {
        width: 100%;
        padding: 1.5% 0;
        background-color: #4e2871;
        z-index: 1000;
    }
    #topcontrol img {
        display: block;
        margin: 0 auto;
        width: 6%;
    }
}

@media (max-device-width: 768px) and (orientation: landscape) {
    html {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }
}

.clear {
    clear: both;
}
/*-------------------------------------------End code Alsa----------------------------------------*/

html {
    height: 100%;
}

body {
    min-height: 100%;
    padding: 0 0 25px 0;
    background-color: #4e2871;
    width: 100%;
    position: relative;
    margin: 0;
}
/*///////////////////////////////////////*/
/*-----------------HEADER---------------*/
/*/////////////////////////////////////*/
/*test */

#HEADER {
    background-color: #4e2871;
    padding: 3px 0 2px 0;
    display: table;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 50px;
 /*   position: relative;*/
}

#menu,
#logo,
#search {
    display: table-cell;
    vertical-align: middle;
}

#logo {
    width: 41.25%;
}

#menu {
    width: 28.75%;
    padding-left: 2.5%;
}

#menu a {
    display: block;
    width: 20.65%;
}

#search {
    width: 30%;
    padding-right: 1.5625%;
}

#search a {
    display: block;
    width: 25.77%;
    float: right;
}

#menu img,
#search img {
    width: 100%;
}

#logo img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
/*///////////////////////////////////////*/
/*------------------QRCODE----------------*/
/*/////////////////////////////////////*/
.qrcode2 {
    width: 160px;
    height: 160px;
    margin-top: 15px;
}
/*///////////////////////////////////////*/
/*------------------MENU----------------*/
/*/////////////////////////////////////*/

.pl15 {
    padding-left: 15px;
}
/*///////////////////////////////////////*/
/*-----------------SEARCH---------------*/
/*/////////////////////////////////////*/
.nav-bar-block{
    position: relative;
}

.search-zone {
    width: 96%;
    background-color: #4e2871;
    padding: 2%;
    display: table;
    position: absolute;
    top: 44px;
    z-index: 100;
    margin-left: 2%;
}

.platform-ios .search-zone{
    width: 96%;
    background-color: #4e2871;
    padding: 0 2% 2% 2%;
    display: table;
    position: absolute;
    top: 64px;
    z-index: 100;
    margin-left: 2%;
}
.search-zone  .tb_left{
    display: table-cell;
    width: 90%;
    vertical-align: middle;
}
.search-zone .tb_left label.item-input-wrapper{
    background-color: #fff;
    width: 100%;
}
.search-zone .tb_left form{
    width: 100%;
}
.search-zone .tb_left input[type="search"]{
    width: 100%!important;
    padding: 0;
    height: 30px;
}
.search-zone  .tb_right{
    display: table-cell;
    width: 10%;
    vertical-align: middle;
    text-align: center;
}
.search-zone a{
    color: #fff;
}
input[type=text] {
    width: 70%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 3%;
    font-size: 3vw;
}
/*///////////////////////////////////////*/
/*-----------------CONTENT---------------*/
/*/////////////////////////////////////*/

.btm20 {
    bottom: 20px !important;
}

.has-footer {
    bottom: 0px;
}

.article {
    font-family: 'Opensans', Verdana, Geneva, sans-serif;
}

.banniere-1 img {
    width: 100%;
    display: block;
    vertical-align: top;
    background-color: #000000;
}

.calendar {
    background-color: #ffffff;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

.calendar-position {
    width: 97%;
    margin: 0 auto;
    display: table;
}

.calendar-elt {
    display: table-cell;
    width: 10%;
    vertical-align: middle;
}

.calendar a {
    display: inline-block;
    text-decoration: none;
    color: #4e2871;
    text-align: center;
    padding: 23% 10% 23% 10%;
    text-transform: uppercase;
}

.calendar a.active {
    background: url(../images/pt-rouge.png) no-repeat center center #ffffff;
    background-size: 100%;
    color: #ffffff;
}

.select-genre-compte {
    display: table;
    width: 100%;
    background-color: #9045b1;
    height: 30px;
    overflow: hidden;
}

.select-genre,
.select-compte {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}

/*.select-genre-compte a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.select-compte a {
    display: inline-block;
    width: 100%;
    text-align: right;
    padding: 5px 0 3px 0;
    background-color: #9045b1;
}

.select-genre a img,
.select-compte a img {
    margin: 0 3% 0 2%;
    vertical-align: middle;
    width: 9%;
}*/
/*select with img*/
/*.select-genre{
    overflow: hidden;   
    padding: 0;
    margin: 0;
    background: url(../images/select_left.png) no-repeat center center #4e2871;
    background-size: 95%;
}
.select-compte {
    overflow: hidden;   
    padding: 0;
    margin: 0;
    background: url(../images/select_right.png) no-repeat center center #9045b1;
    background-size: 95%;
}*/
/*select wihout img*/
.select-genre {
    overflow: hidden;   
    position: relative;
    background-color: #4e2871;
}

.select-genre a.genre-selected{
    position: absolute;
    display: inline-block;
    background: url(../images/fl_b_b.png) no-repeat center right 3% #4e2871;
    background-size: 10%;
    font-size: 3.4vw;
    border: none;
    box-shadow: none;
    padding: 5px 5% 3px 5.5%;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
}
.select-compte {
    overflow: hidden;   
    position: relative;
}
.select-compte a.genre-selected{
    position: absolute; 
    display: inline-block;
    background: url(../images/fl_b_b.png) no-repeat center right 3% #9045b1;
    background-size: 10%;
    font-size: 3.4vw;
    border: none;
    box-shadow: none;
    padding: 5px 5% 3px 5.5%;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
}
/*.select-genre select{
    -webkit-appearance: listbox;
    border-radius: 0;
    background: url(../images/fl_b_b.png) no-repeat center right 3% #4e2871;
    background-size: 10%;
    font-size: 3.4vw;
    border: none;
    box-shadow: none;
    padding: 5px 5% 3px 5.5%;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
}
.select-compte select { 
   -webkit-appearance: listbox;
    border-radius: 0;
    background: url(../images/fl_b_b.png) no-repeat center right 3% #9045b1;
    background-size: 10%;
    font-size: 3.4vw;
    border: none;
    box-shadow: none;
    padding: 5px 5% 3px 5.5%;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
}*/
/*.absolute-genre{
  border: 1px solid #f00;
  position: absolute;
  z-index: 0;

}*/
.select-genre select {
    opacity: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    background: url(../images/fl_b_b.png) no-repeat center right 3% #4e2871;
    background-size: 10%;
    font-size: 3.4vw;
    border: none;
    box-shadow: none;
    padding: 5px 5% 3px 5.5%;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
}
.select-compte select { 
    opacity: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    background: url(../images/fl_b_b.png) no-repeat center right 3% #9045b1;
    background-size: 10%;
    font-size: 3.4vw;
    border: none;
    box-shadow: none;
    padding: 5px 5% 3px 5.5%;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
}
.ticket-2,
.ticket-1 {
    background-color: #cac2db;
    position: relative;
}
.ticket-1-tb {
    display: table;
    width: 100%;
    background-color: #5e3597;
}
.ticket-1-tb .image-area-position,
.ticket-1-tb .txt-area {
    display: table-cell;
    width: 50%;
    vertical-align: top;
}

.image-area img {
    width: 100%;
    display: block;
    vertical-align: top;
    /*attention, doctype html5 pose pb sans ces deux règles*/
}
/*pictos like image*/

.image-area {
    position: relative;
    background-color: #999;
}

.image-area .picto-like-zone {
    width: 15.625%;
    position: absolute;
    z-index: 10;
    top: 2%;
    left: 4.375%;
}

.image-area .picto-like-zone img {
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

.bts-sociaux-ajout {
    width: 13%;
    float: left;
}
.ion-record{
    color: #fff;
}
/*end pictos like image*/

.ticket-1-tb .txt-area {
    padding: 12px 3% 0 3%;
    color: #ffffff;
    background-color: #5e3597;
}

.picto-sociaux-area a {
    display: inline-block;
    float: left;
    width: 17%;
    margin: 0 12% 13px 0;
}

.picto-sociaux-area a.picto-fb {
    margin-left: -4%;
}
.ticket-2 .picto-sociaux-area a img,
.ticket-1 .picto-sociaux-area a img {
    width: 100%;
}
.ticket-2 .txt-area-2,
.ticket-1 .txt-area-2 {
    background-color: #cac2db;
    color: #8421b2;
    padding: 3% 0 0 3.125%;
    line-height: 1.2em;
}
.ticket-2 .txt-area-2 .date-spectacle,
.ticket-1 .txt-area-2 .date-spectacle {
    margin-bottom: 5px;
}
.ticket-2 .bt-area,
.ticket-1 .bt-area {
    background-image: url(../images/deco_dentelle.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 5%;
    width: 100%;
    padding-bottom: 5px;
    margin-top: -5px;
}
.ticket-2 .bt-area a,
.ticket-1 .bt-area a,
.fiche-bts .bt-area a {
    display: inline-block;
    float: left;
    color: #e53440;
    text-transform: uppercase;
    text-decoration: none;
}
.ticket-2 .bt-savoir-plus a,
.ticket-1 .bt-savoir-plus a {
    width: 40%;
    padding: 2% 0 1% 3.125%;
}

.fiche-bts .bt-savoir-plus a {
    width: 40%;
    padding: 2% 0 1% 4.6875%;
}
.ticket-2 .bt-reservation a,
.ticket-1 .bt-reservation a,
.fiche-bts .bt-reservation a {
    width: 40%;
    text-align: right;
    padding: 2% 0 1% 3%;
    margin-right: 3.125%;
    float: right;
}

.bt-savoir-plus a span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 4%;
    margin-bottom: 2px;
    width: 25%;
}

.bt-reservation a span {
    display: inline-block;
    margin-left: 4.375%;
    margin-bottom: 0px;
    width: 25%;
    vertical-align: middle;
}

.bt-savoir-plus a img,
.bt-reservation a img {
    width: 100%;
}

.txt-complet {
    color: #e53440;
}
/*///////////////////////////////////////*/
/*-----------------FICHE-----------------*/
/*///////////////////////////////////////*/

#CONTENT-FICHE {
    background-color: #cac2db;
    position: absolute;
    z-index: 100;
    width: 100%;
}

#CONTENT-FICHE-CALENDRIER {
    background-color: #cac2db;
}

.marg-left {
    margin-left: 4.6875%;
}

.marg-right {
    margin-right: 1.875%;
}

.head-fiche {
    width: 100%;
    background-color: #4e2871;
    padding: 9px 0 3px 0;
}

.head-fiche .genre-fiche {
    float: left;
    color: #ffffff;
    margin-top: 3px;
}

.head-fiche .close-fiche {
    float: right;
    width: 6.25%;
}

.head-fiche .close-fiche img {
    width: 100%;
}

.top-fiche {
    width: 100%;
    /*display: table;*/
}

/*.img-fiche {
    display: table-cell;
    width: 80%;
    position: relative;
}*/

.img-slide-box {
    display: block;
    max-width: 100vw;
    overflow: hidden;
}

.img-fiche img {
    display: block;
    width: 100%;
}

.img-fiche .picto-like-zone {
    width: 11.673151750972762%;
    position: absolute;
    z-index: 10;
    top: 2%;
    left: 4.6875%;
}

.img-fiche .picto-like-zone img {
    width: 100%;
}

.img-fiche .img-fiche-nav {
    position: absolute;
    width: 100%;
    bottom: 15px;
    text-align: left;
    left:40%;
}
.img-fiche .img-fiche-nav a {
    display: inline-block;
    width: 5%;
    margin: 0 1% 0 1%;
}

.content-txt-fiche .pictos-apercu {
   /* position: absolute;
    bottom: 0;*/
    text-align: left;
    width: 80%;
    margin: 0 0 0 3.75%;
}

.content-txt-fiche .pictos-apercu a {
    display: inline-block;
    width: 10%;
    margin: 15px 5% 0 0;
}

.content-txt-fiche .pictos-apercu img {
    width: 100%;
}

/*.content-txt-fiche .pictos-apercu .picto-photo {
    margin-left: 30%;
}

.content-txt-fiche .pictos-apercu .picto-video {
    margin-left: 35%;
}*/

.content-txt-fiche .titre-fiche {
    color: #9045b1;
    font-weight: bold;
}
.content-txt-fiche .picto-like-zone{
    z-index: 10;
    margin-top: 10px;
    margin-left: 3.75%;
}
.content-txt-fiche .picto-like-zone .picto-one{
    width: 13%;
    float: left;
    margin-right: 2%;
}
.content-txt-fiche  .picto-like-zone img {
    width: 100%;
    display: inline-block;
}
.txt-justify {
    text-align: justify;
}

.content-txt-fiche .txt-fiche {
    padding: 15px 8.4375% 15px 4.6875%;
    color: #4e2871;
    line-height: 1.4em;
    font-size: 3.7vw;
}

.txt-fiche {
    color: #9045b1;
    font-weight: normal;
}

.pictos-fiche {
    /*display: table-cell;
    vertical-align: top;*/
    width: 100%;
   /* position: relative;*/
  /*background-color: #f00;*/
}

.fiche-picto-sociaux {
    width: 15%;
   float: right;
   margin-right: 3.75%;
   margin-top: 2%;
}

.fiche-picto-sociaux a {
    display: block;
}

.fiche-picto-sociaux img {
    width: 100%;
}

.fiche-infos {
    width: 100%;
    background: url(../images/bg_bts3.png) no-repeat top center #4e2871;
    background-size: 10.9375%;
    padding: 20px 0 10px 0;
    color: #ffffff;
}

.fiche-infos-date-reservation {
    display: table;
    width: 93%;
    margin-bottom: 10px;
}

.fiche-infos-date {
    display: table-cell;
    vertical-align: top;
    width: 65%;
    font-size: 2.9vw;
}

.fiche-infos-date-reservation .bt-reservation a {
    display: table-cell;
    width: 30%;
    vertical-align: middle;
    color: #cac2db;
    text-decoration: none;
    text-transform: uppercase;
}

.fiche-bts .bt-area {
    background-image: url(../images/bg_bts4.png), url(../images/bg_bts2.png);
    background-repeat: repeat-x;
    background-position: top, bottom;
    background-color: #4e2871;
    background-size: 4%;
    margin-top: -4px;
    padding: 7px 0 5px 0;
}

.fiche-bts .bt-area a {
    color: #cac2db;
}

.fiche-conseil,
.fiche-presse,
.fiche-commentaires {
    width: 100%;
}

.head-fiche-conseil,
.head-fiche-presse,
.head-fiche-commentaires {
    background: url(../images/bg_bts5.png) repeat-x top #9045b1;
    background-size: 4%;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.head-fiche-conseil {
    margin-bottom: 15px;
}

.head-fiche-conseil,
.head-fiche-presse {
    padding: 15px 0 13px 0;
}

.head-fiche-commentaires {
    padding: 10px 0 10px 0;
}

.img-fiche-conseil,
.img-fiche-presse {
    width: 9.375%;
    float: left;
    margin-right: 3%;
}

.img-fiche-commentaires {
    width: 18.75%;
    float: left;
    margin-right: 3%;
}

.img-fiche-conseil img,
.img-fiche-presse img,
.img-fiche-commentaires img {
    width: 100%;
}

.img-fiche-conseil img {
    margin-top: -1px;
}

.content-fiche-presse,
.content-fiche-commentaires {
    color: #4e2871;
    margin: 12px 8.4375% 0 4.6875%;
    padding-bottom: 15px;
    text-align: justify;
}

.titre-fiche-presse,
.titre-fiche-commentaire {
    color: #9045b1;
    font-weight: bold;
}

.fiche-commentaires-commentaire {
    margin-bottom: 20px;
}

.fiche-commentaires-commentaire:last-child {
    padding-bottom: 10px;
}

.head-fiche-commentaires-left {
    float: left;
    width: 50%;
    margin-top: 10px;
}

.head-fiche-commentaires-right {
    float: right;
    width: 45%;
}

.head-fiche-commentaires-right a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    text-align: right;
}

.head-fiche-commentaires-right img {
    float: right;
    width: 25%;
    margin: 5px 3% 0 0;
}

.head-fiche-commentaires-right span {
    display: block;
    width: 70%;
    float: left;
}

.content-fiche-conseil {
    width: 100%;
    margin-bottom: 15px;
}

.bts-sociaux {
    margin-left: 4.6875%;
    margin-top: 10px;
}

.bts-sociaux .bt-fb-like {
    float: left;
}

.bts-sociaux .bt-gplus {
    margin: 1px 0 0 5%;
    float: left;
}
/*/////////////////////////////////////////////*/
/*-----------------CALENDRIER-----------------*/
/*///////////////////////////////////////////*/

.calendrier {
    background-color: #fff;
    width: 100%;
}

.content-calendrier {
    background-image: url(../images/bg_bts6.png);
    background-repeat: repeat-x;
    background-position: top;
    background-color: #cac2db;
    background-size: 5%;
    width: 100%;
    min-height: 50px;
}
/*end calendrier*/

.fiche-calendrier {
    width: 100%;
    background-color: #cac2db;
}

.head-fiche-calendrier {
    display: table;
    width: 100%;
    background: url(../images/bg_bts3.png) no-repeat top center #9045b1;
    background-size: 10.9375%;
    padding: 10px 0;
    color: #ffffff;
    text-transform: uppercase;
}

.head-fiche-calendrier a {
    display: block;
}

.head-fiche-calendrier .fl-left-calendrier,
.head-fiche-calendrier .fl-right-calendrier {
    display: table-cell;
    width: 4.6875%;
    vertical-align: middle;
    text-align: center;
}

.head-fiche-calendrier .fl-left-calendrier {
    padding-left: 1%;
}

.head-fiche-calendrier .fl-right-calendrier {
    padding-right: 1%;
}

.head-fiche-calendrier .title-calendrier {
    display: table-cell;
    width: 90.625%;
    vertical-align: middle;
    padding:5px 0 2px 2%;
    font-weight: bold;
}

.fl-left-calendrier img,
.fl-right-calendrier img {
    width: 100%;
}

.content-fiche-calendrier {
    width: 100%;
    color: #9045b1;
    background-color: #cac2db;
}
.content-fiche-calendrier .bts-sociaux-ajout{
	margin-right: 5%;
}
.img-fiche-calendrier {
    width: 100%;
    position: relative;
}

.img-fiche-calendrier img {
    width: 100%;
}
.img-fiche-calendrier .picto-like-zone{
   width: 15.625%;
    position: absolute;
    z-index: 10;
    top: 2%;
    left: 4.375%;
}

.img-fiche-calendrier  .picto-like-zone img {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.txt-fiche-calendrier {
    padding-top: 10px;
    margin-bottom: 20px;
    color: #4e2871;
}

.content-fiche-calendrier .date-spectacle {
    margin-bottom: 2px;
}

.content-fiche-calendrier .bt-reservation a {
    width: 45%;
    text-align: right;
    padding: 2% 0 1% 3%;
    margin-right: 3.125%;
    float: right;
    color: #e53440;
    text-transform: uppercase;
    text-decoration: none;
}

.content-fiche-calendrier .bt-reservation a span {
    display: inline-block;
    margin-left: 0;
    margin-bottom: 2px;
    width: 35%;
    vertical-align: middle;
}

.content-fiche-calendrier .bt-reservation a img {
    width: 100%;
}

.fiche-calendrier .bt-savoir-plus a {
    background: url(../images/bg_bts2.png) repeat-x bottom center #4e2871;
    background-size: 5%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #e53440;
    text-transform: uppercase;
    padding: 3px 0 5px 0;
}

.fiche-calendrier .bt-savoir-plus a span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1%;
    margin-bottom: 2px;
    width: 9.6875%;
}

.fiche-calendrier .bt-savoir-plus a img {
    width: 100%;
}
/*///////////////////////////////////////*/
/*----------------CARROUSEL-------------*/
/*/////////////////////////////////////*/

.carrousel {
    width: 100%;
    min-height: 300px;
    position: relative;
}

.carrousel-fl-left,
.carrousel-fl-right {
    width: 10%;
    height: 230px;
}
.carrousel-fl-left{
    position: absolute;
    left: 0;
    background-image: url(../images/fl_left_carrousel.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}
.carrousel-fl-right{
    position: absolute;
    right: 0;
    background-image: url(../images/fl_right_carrousel.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.carrousel-fl-right {
    text-align: right;
    position: absolute;
    right: 0;
}

.carrousel-fl-left a,
.carrousel-fl-right a {
    width: 100%;
    display: inline-block;
}
.carrousel-fl-left img,
.carrousel-fl-right img {
   display: none;
}
.carrousel-center {
    width: 80%;
    position: absolute;
    left: 10%;
    text-align: center;
}

.carrousel-txt {
    color: #4e2871;
    text-align: left;
    font-weight: bold;
    padding: 0 10%;
}

.carrousel-titre {
    text-transform: uppercase;
    font-weight: bold;
}
.carrousel-bt-savoir a {
    color: #e53440;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 3px 0 0 0;
    margin-top: 8px;
}

.carrousel-bt-savoir a span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 4%;
    width: 15.060240963855422%;
}
.carrousel-bt-savoir a img {
   width: 75%;
}
/*///////////////////////////////////////*/
/*-----------------AGENDA---------------*/
/*/////////////////////////////////////*/

.bg-mauve {
    background-color: #cac2db;
}

.kalendrier {
    font-family: 'Opensans', Verdana, Geneva, sans-serif;
    margin-bottom: 0;
    padding-bottom: 0;
}

.head-kalendar {
    background-color: #fff;
}

.head-kalendar .text-center {
    color: #9045b1;
    font-size: 6vw;
}

.head-kalendar .text-left,
.head-kalendar .text-right {
    color: #9045b1;
}

.month-kalendrier {
    border-top: 1px solid #cac2db;
    background-image: url(../../../images/bg_bts6.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 5%;
    background-color: #fff;
}

.month-kalendrier .col {
    text-align: center;
    font-size: 5vw;
    color: #4e2871;
    padding: 20px 0 10px 0;
}

.content-Kalendrier {
    background-color: #cac2db;
    width: 100%;
    min-height: 50px;
}

.content-Kalendrier a.bouton {
    color: #4e2871;
    width: 100%;
    font-size: 5vw;
    padding: 15px 0;
}

.content-Kalendrier .col {
    text-align: center;
    padding: 0;
    margin: 0;
}
/*BOUTONS*/

.bouton {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    cursor: pointer;
}

.boutonactive {
    background: url(../images/pt-mauve.png) no-repeat center;
    background-size: 85%;
    color: #fff!important;
}

.boutonactiveCurrent {
    background: url(../images/pt-rouge.png) no-repeat center;
    background-size: 85%;
    color: #fff!important;
}

.bouton:after {
    position: absolute;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    content: ' ';
}

.bouton-small {
    padding: 2px 4px 1px;
    min-width: 28px;
    min-height: 30px;
    font-size: 12px;
    line-height: 26px;
}

.msg_select_kalen{
    text-align: center;
    padding: 0 0 15px 0;
}
/*///////////////////////////////////////*/
/*-----------------LOGIN-----------------*/
/*///////////////////////////////////////*/
#CONTENT_LOGIN{
	/*margin-top: 50px;*/
	background-color: #cac2db;
}
#HEAD_LOGIN{
	background-color: #9045b1;
	width: 100%;
	height: 42px;
	display: table;
}
#HEAD_IMG{
	display: table-cell;
	vertical-align: top;
	width: 11%;
	padding-top: 9px;
	padding-left: 2%;
}
#HEAD_IMG img{
	width: 100%;
}
#HEAD_TXT{
	display: table-cell;
	width: 70%;
	vertical-align: middle;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	padding-left: 3%;
}
#HEAD_TXT_INFO{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 3%;
    padding-top: 2%;
    text-align: center;
}
#HEAD_LOGIN a{
    display: block;
    margin-top: 7px;
    width: 30%;
    margin-left: 35%;
}
#HEAD_LOGIN a img{
    width: 100%;
}
.content_login{
	margin: 0 auto;
	width: 78.125%;
}
.indic_login{
	margin: 10px 0;
	font-weight: bold;
	color: #4e2871;
}
.fieldset_content_login{
	color: #9045b1;
}
.fieldset_content_login input[type="text"], .fieldset_content_login input[type="email"], .fieldset_content_login input[type="password"]{
	border-radius: 0;
	border: 1px solid #9045b1;
	background-color: #cac2db;
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
    font-size: 4vw;
}
.fieldset_content_login select{
    border-radius: 0;
    border: 1px solid #9045b1;
    background-color: #cac2db;
    width: 100%;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 4vw;
    color: #9045b1;
}
input[type="submit"].login{
	width: 46%;
	height: 30px;
	cursor: pointer;
	border: none;
	float: right;
	background-color: #e53440;
	color: #fff;
	margin-top: 15px;
    border-radius: 5px;
}
.fieldset_content_login2{
    text-align: center;
}
input[type="submit"].reserver{
    width: 46%;
    height: 30px;
    cursor: pointer;
    border: none;
    background-color: #e53440;
    color: #fff;
    margin-top: 15px;
    border-radius: 5px;
  }
.fieldset_content_login  a.bt_continuer{
    width: 46%;
    padding: 5px 0;
    cursor: pointer;
    border: none;
    float: right;
    background-color: #e53440;
    color: #fff;
    margin-top: 15px;
    border-radius: 5px;
    text-align: center;
}
.fieldset_content_login a{
	display: inline-block;
	margin: 20px 0;
	color: #9045b1;
	text-decoration: none;
}
.indic_no_content{
	width: 100%;
	margin: 70px auto;
	font-weight: bold;
	color: #4e2871;
	text-align: center;
}
.indic_no_content_info{
    width: 100%;
    margin: 120px auto;
    color: #4e2871;
    text-align: center;
    text-transform: uppercase;
}
.img_no_content{
	width: 30%;
	margin: 0 auto 15px auto;
}
.img_no_content img{
	width: 100%;
}
/*///////////////////////////////////////*/
/*-------------MES TICKETS--------------*/
/*/////////////////////////////////////*/
.content_unticket, 
.content_une_actu{
    background-image: url(../images/bg_bts6.png), url(../images/bg_bts7.png);
    background-repeat: repeat-x;
    background-position: top, bottom;
    background-size: 5%;
    padding: 10px 0; 
}
.titre_unticket{
	color: #5e3299;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 3.75%;
}
.date_unticket{
	color: #5e3299;
	text-transform: uppercase;
	margin: 0 3.75%;
}
.places_unticket{
 	display: table;
 	margin: 5px 3.75% 0 3.75%;
}
.picto_sieges{
	display: table-cell;
	width: 6%;
}
.picto_sieges img{
	width: 100%;
}
.txt_sieges{
	display: table-cell;
	vertical-align: middle;
	padding-left: 3%;
	color: #9045b1;
}
.boutons_unticket a, 
.boutons_unticket2 a{
	display: inline-block;
	color: #e53440;
	text-transform: uppercase;
	text-decoration: none;
    margin-top: 5px;
}
.boutons_unticket .bt-savoir-plus a{
	float: left;
	margin-left: 3.75%;
	width: 35%;
}
.boutons_unticket .bt-reservation a{
	float: right;
	width: 55%;
	text-align: right;
	margin-right: 2%;
}
.boutons_unticket .bt-reservation a span{
    width: 18%;
}
.content_unticket_detail{
    padding: 10px 0; 
}
.content_unticket_detail .date_unticket{
	color: #9045b1;
	margin-bottom: 15px;
}
.detail_place{
	/*display: table;*/
	width: 93%;
	margin: 0 0 15px 3.75%;
}
.detail_place_rang{
	/*display: table-cell;*/
	color: #4e2871;
	width: 75%;
    text-align: right;
}
.detail_place_voir{
	/*display: table-cell;*/
	text-align: right;
	width: 75%;
}
.detail_place_voir a{
	color: #e53440;
	display: inline-block;
	text-decoration: none;
}
.detail_place_voir a span {
    display: inline-block;
    margin-left: 4.375%;
    margin-bottom: 0px;
    width: 20%;
    vertical-align: middle;
}
.detail_place_voir img{
	width: 100%;
}
.boutons_unticket2 .bt-reservation a{
	margin-top: 50px;
	display: inline-block;
	width: 70%;
	float: right;
	margin-right: 3.75%;
	text-align: right;
}
.boutons_unticket2 .bt-reservation a span{
	width: 15%;
}
.head-billet-qr {
    display: table;
    width: 100%;
    padding: 10px 0;
    color: #ffffff;
    text-transform: uppercase;
}
.head-billet-qr a {
    display: block;
}
.head-billet-qr .fl-left-billetqr,
.head-billet-qr .fl-right-billetqr {
    display: table-cell;
    width: 4.6875%;
    vertical-align: middle;
    text-align: center;
}
.head-billet-qr .fl-left-billetqr {
    padding-left: 1%;
}

.head-billet-qr .fl-right-billetqr {
    padding-right: 1%;
}
.head-billet-qr .title-billetqr {
    display: table-cell;
    width: 90.625%;
    vertical-align: middle;
   text-align: center;
}
.head-billet-qr .date_unticket{
	color: #9045b1;
}
.fl-left-billetqr img,
.fl-right-billetqr img {
    width: 100%;
}
.qr_code_slide{
	display: table;
	width: 100%;
	margin-bottom: 10px;
}
.qr_code{
	display: table-cell;
	width: 59%;
	vertical-align: top;
}
.qr_code_content{
	width: 90%;
	margin: 0 auto;
    border: 5px solid #fff;
    background-color: #fff;
    text-align: center;
}
.qr_code_content img{
	width: 100%;
}
.qr_place{
	display: table-cell;
	width: 40%;
	padding: 0 0 0 0;
	vertical-align: top;
	color: #4e2871;
}
.qr_place .acces{
	text-transform: uppercase;
}
.qr_place .acces-zone, 
.qr_place .acces-rang-place{
	color: #9045b1;
	text-transform: uppercase;
	font-weight: bold;
}
.resume_place{
	background-color: #9045b1;
	width: 100%;
	color: #fff;
	padding: 10px 0 15px 0;
}
.resume_place_col1{
	float: left;
	width: 55%;
	margin-left: 3.75%;
}
.resume_place_col2{
	float: right;
	width: 35%;
	margin-right: 3.75%;
}
.font-strong{
	font-weight: bold;
}
/*///////////////////////////////////////*/
/*--------------ACTUALITES--------------*/
/*/////////////////////////////////////*/
.date_une_actu{
	color: #5e3299;
	margin-left: 3.75%;
	font-weight: bold;
}
.titre_actualite{
	color: #9045b1;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 3.75%;
}
.content_actu{
	color: #4e2871;
	width: 92%;
	margin: 10px auto;
}
/*/////////////////////////////////////////////*/
/*-----------------POPIN_ICONES---------------*/
/*///////////////////////////////////////////*/
#POPIN_ICONES{
    width:80%;
    /*background-color: #fff;*/
    padding: 5%;
    margin: 0 auto;
}
.uneligne_icones{
    display: table;
    width: 100%;
    margin-bottom: 10px;
}
.img_icones{
    display: table-cell;
    width: 20%;
}
.img_icones img{
    width: 100%;
}
.txt_icones{
    display: table-cell;
    vertical-align: middle;
    width: 80%;
    padding: 0 0 0 5%;
}
.uneligne_icones:first-child a{
    color: #e53440;
}
.uneligne_icones a{
    text-decoration: none;
    color: #4e2871;
    font-size: 3.6vw;
    font-weight: bold;
}
/*///////////////////////////////////////*/
/*-----------------TEXTES---------------*/
/*/////////////////////////////////////*/

.txt-10px {
    font-size: 3.1vw;
}

.txt-12px {
    font-size: 3.4vw;
}

.txt-14px {
    font-size: 3.6vw;
}

.txt-16px {
    font-size: 4.3vw;
}

.txt-18px {
    font-size: 5.2vw;
}

.txt-20px {
    font-size: 5.5vw;
}
.txt-26px {
    font-size: 7.5vw;
}
.txt-30px {
    font-size: 10vw;
}
.txt-ticket {
    font-size: 3.1vw;
    line-height: 1.2em;
}
.genre-spectacle {
    font-size: 3.5vw;
    text-transform: uppercase;
}
.titre-spectacle{
    font-weight: bold;
    font-size: 4.2vw;
}

.auteur-spectacle {
    font-family: Opensans, Verdana, Geneva, sans-serif;
    font-weight: normal;
}
/*////////////////////////////////////////////////////*/
/*--------------POINTS DE DET spemobile--------------*/
/*//////////////////////////////////////////////////*/
.marg-top-ban{
	margin-top: 45px;
}
.month_separator{
    background-color: #e53440;
    color: #fff;
    font-family: Opensans, Verdana, Geneva, sans-serif;
    font-size: 4.3vw;
    text-align: center;
    width: 100%;
    padding: 1% 0;
}
#bt-retour{
    display: table-cell;
    color: #fff;
    font-size: 4vw;
    vertical-align: middle;
    /*margin-top: 10px;*/
}
/*////////////////////////////////////////////////////////*/
/*-----------------AJOUT CSS IMPORTE PAGES---------------*/
/*//////////////////////////////////////////////////////*/
.txt-page{
    width: 90%;
    margin-left: 3.75%;
    color: #4e2871;
    font-family: 'Opensans', Verdana, Geneva, sans-serif;
}
.txt-page .cadre_gris{
    display: none;
}
.txt-page .XTITREPAGE {
    text-decoration: none;
    color: #4e2871;
    font-size: 5.2vw;
    font-style: normal;
    font-weight: bold;
    text-align: justify;
}
.txt-page .XTITRE {
    text-decoration: none;
    font-size: 3.4vw;
    font-style: normal;
    font-weight: bold;
    display: block;
    color: #5e3299;
}
.XTITREPROG{
    color: #9045b1;
    font-size: 5.2vw;
    font-weight: bold;
}
.XGRANDSOUSTITRE{
    font-weight: bold;
}
.XTEXTEGRAS{
    font-weight: bold;
}
.XTEXTE{
   font-size: 3.4vw;
}
.txt-ticket .XTEXTE strong{
     font-size: 4.3vw;
}
#FOOTER-CONTAINER{
    z-index: 100;
    }
/*/////////////////////////////////////////////*/
/*-----------------SPECIFICITES---------------*/
/*///////////////////////////////////////////*/

@media (orientation: landscape) {
    /*resize elts forcé*/
    
    .select-genre select {
        background-size: 8%;
        font-size: 2.8vw;
        /*padding: 5px 5% 3px 25%;*/
    }
    .picto-sociaux-area {
        margin-top: 5px;
    }
    .picto-sociaux-area a {
        display: inline-block;
        float: left;
        width: 15%;
        margin: 0 12% 13px 0;
    }
    #HEADER {
        height: 30px;
    }
    #menu img,
    #search img {
        width: 50%;
    }
    #logo img {
        width: 50%;
    }
    #CONTENT {
        margin-top: 30px;
    }
    #topcontrol {
        width: 100%;
        padding: 1% 0;
        background-color: #4e2871;
        z-index: 1000;
    }
    #topcontrol img {
        display: block;
        margin: 0 auto;
        width: 3%;
    }
    .genre-spectacle {
        font-weight: bold;
        font-size: 3.2vw;
        text-transform: uppercase;
    }
    .txt-14px {
        font-size: 2.9vw;
    }
    .txt-12px {
        font-size: 2.8vw;
    }
    .txt-10px {
        font-size: 2.8vw;
    }
    .txt-16px {
        font-size: 3.8vw;
    }
    .txt-18px {
        font-size: 4.8vw;
    }
    .txt-20px {
         font-size: 5vw;
    }
    .txt-26px {
        font-size: 7.5vw;
    }
    .txt-30px {
        font-size: 10vw;
    }
    .txt-ticket {
        margin-top: 10px;
        font-size: 2.6vw;
        line-height: 1.2em;
    }
    .bt-savoir-plus a span {
        width: 20%;
    }
    .bt-reservation a span {
        width: 20%;
    }
    .ticket-2 .bt-area,
    .ticket-1 .bt-area {
        background-size: 3%;
        padding-bottom: 8px;
    }
    .ticket-2 .bt-savoir-plus a,
    .ticket-1 .bt-savoir-plus a {
        padding: 1% 3.125% 0 3.125%;
    }
    .ticket-2 .bt-reservation a,
    .ticket-1 .bt-reservation a {
        padding: 1% 0 0 2%;
    }
    .head-fiche .close-fiche {
        width: 4%;
    }
    .content-txt-fiche,
    .fiche-bts .bt-area {
        background-size: 4%;
        margin-top: -7px;
    }
    .fiche-bts .bt-area {
        padding: 10px 0 5px 0;
    }
    .content-txt-fiche .txt-fiche {
        padding: 25px 8.4375% 15px 4.6875%;
        font-size: 3vw;
    }
    .fiche-picto-sociaux {
        width: 15%;
        margin-left: 20%;
    }
    .fiche-picto-sociaux a {
        margin-bottom: 18px;
    }
    .top-fiche .pictos-apercu a {
        width: 30%;
        margin: 15px 0 0 0;
    }
    .top-fiche .pictos-apercu .picto-video {
        margin-left: 32%;
    }
    .head-fiche-conseil,
    .head-fiche-presse {
        padding: 20px 0 15px 0;
    }
    .head-fiche-commentaires {
        padding: 20px 0 10px 0;
    }
    .img-fiche-conseil,
    .img-fiche-presse,
    .img-fiche-commentaires {
        margin-top: -5px;
    }
    .head-fiche .genre-fiche {
        margin-top: 1px;
    }
    .img-fiche .img-fiche-nav a {
        width: 3%;
        margin: 0 1% 0 1%;
    }
    .bts-sociaux {
        margin-top: 15px;
    }
    .content-fiche-calendrier .bt-reservation a span {
        width: 25%;
    }
    .content-fiche-calendrier .bt-savoir-plus a span {
        width: 20%;
    }
    .head-kalendar .text-center {
        font-size: 4vw;
    }
    .month-kalendrier .col {
        font-size: 4vw;
        color: #4e2871;
    }
    .content-Kalendrier a.bouton {
        font-size: 4vw;
        padding: 20px 0;
    }
    .month-kalendrier {
        background-image: url(../images/bg_bts6.png);
        background-size: 3.5%;
        padding-bottom: 15px;
    }
    .boutonactive {
        background: url(../images/pt-mauve.png) no-repeat center;
        background-size: 60%;
        color: #fff!important;
    }
    .boutonactiveCurrent {
	    background: url(../images/pt-rouge.png) no-repeat center;
	    background-size: 60%;
	    color: #fff!important;
    }
    #CONTENT_LOGIN{
		margin-top: 35px;
	}
    #HEAD_LOGIN{
		height: 45px;
	}
    #HEAD_IMG{
		padding-top: 7px;
		width: 8%;
	}
    #HEAD_LOGIN a{
        margin-top: 7px;
        width: 20%;
        margin-left: 65%;
    }
    .fieldset_content_login input[type="text"]{
		width: 94%;
		height: 20px;
	}
	input[type="submit"].login{
		height: 40px;
	}
	.indic_no_content{
		margin: 25px auto;
	}
	.img_no_content{
		width: 25%;
		margin: 0 auto 15px auto;
	}
	.content_une_actu{
		padding: 20px 0;
	}
	.qr_code a{
		width: 40%;
	}
	.fiche-calendrier .bts-sociaux-ajout a{
		display: block;
		width: 80%;
	}
	.fiche-calendrier .bts-sociaux-ajout a img{
		width: 100%;
	}
    .boutons_unticket,
    .boutons_unticket2{
        margin: 5px 0;
    }
    .boutons_unticket .bt-reservation a span{
        width: 13%;
    }
    .titre_unticket{
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .fiche-infos {
     padding: 25px 0 10px 0;
    }
    .select-compte a.genre-selected{
        padding-top: 8px;
    }
}
/*creepy android spe*/

@media (max-width: 240px) {
    .picto-sociaux-area {
        margin-top: -10px;
    }
    .content-txt-fiche {
        margin-top: -3px;
    }
    #HEAD_IMG{
		padding-top: 10px;
	}
}

@media (orientation: landscape) and (max-width: 320px) {
    .picto-sociaux-area {
        margin-top: -10px;
    }
    .genre-spectacle {
        font-weight: bold;
        font-size: 3.2vw;
        text-transform: uppercase;
    }
    .txt-14px {
        font-size: 3.6vw;
    }
    .txt-12px {
        font-size: 3.2vw;
    }
    .txt-10px {
        font-size: 3.1vw;
    }
    .txt-ticket {
        font-size: 3.4vw;
        line-height: 1.2em;
    }
    .content-txt-fiche {
        margin-top: -5px;
    }
    #HEAD_IMG{
		padding-top: 10px;
	}
}
/*iphone4 BUGGYFILL ->bug resize font landscape/portrait*/

.my-viewport-units-using-thingie {
    width: 50vmin;
    height: 50vmax;
    top: calc(50vh - 100px);
    left: calc(50vw - 100px);
    /* hack to engage viewport-units-buggyfill */
    
    content: 'viewport-units-buggyfill; width: 50vmin; height: 50vmax; top: calc(50vh - 100px); left: calc(50vw - 100px);';
}
