/* Empty. Add your own CSS if you like */

.badge .icon-badge {
    position: absolute;
    top: 3px;
    right: 0px;
    font-size: 8px;
}

.header-badge {
    position: absolute;
    top: 7px;
    left: 25px;
    z-index: 1;
    display: inline-block;
    padding: 3px 5px;
    min-width: 10px;
    border-radius: 10px;
    vertical-align: baseline;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    font-size: 12px;
    line-height: 10px;
    background-color: #ef473a;
    color: #fff;
}

/*Surcharge car détournement de la fonction du footer*/
.has-footer{
    bottom:0px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color: rgba(202, 194, 219, 1);
  visibility: hidden;
 }
  .backdrop.visible {
    visibility: visible; }
  .backdrop.active {
    opacity: 1; }

    .platform-ios.platform-cordova:not(.fullscreen) .search-bar {
    margin-top: 20px;
}

.item-complex .item-content, .item-radio .item-content {
  padding: 12px 49px 12px 16px;
}

